@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tooltip arrow */
.arrow-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: -10px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

/* Stamp perspective 
   see https://www.cssportal.com/css-3d-transform-generator/ */
.perspective-container {
  top: 0;
  /* left: 80px; */
  perspective: 1000px;
  perspective-origin: 50% 50%;
  aspect-ratio: 378/462;
  height: 100%;
  width: 100%;
}

.perspective {
  transform: rotateX(-16deg) rotateY(23deg);
  /* perspective-origin: left; */
  /* height: 290px; */
  /* width: 250px; */
  height: 100%;
  width: 100%;
}

.custom-stamp {
  position: absolute;
  height: 17%;
  width: 17%;
}

.custom-stamp.top-row {
  top: 37%;
}

.custom-stamp.middle-row {
  top: 55%;
}

.custom-stamp.bottom-row {
  top: 73%;
}

.custom-stamp.left {
  left: 27%;
}

.custom-stamp.center {
  left: 45.5%;
}

.custom-stamp.right {
  left: 64%;
}
